<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <appSettings>
    <add key="App1" value="dys05574app01" />
    <add key="App2" value="dys05574app02" />
    <add key="App3" value="dys05574app03" />
    <add key="App4" value="dys05574app04" />
    <add key="App5" value="dys05574app05" />
    <add key="App6" value="dys05574app06" />
    <add key="App7" value="dys05574app07" />
    <add key="selectcommand1" value="prstat -U aradmin"/>
    <add key="UpdateCommand" value="arsystem stop"/>
  </appSettings>

</configuration>
